<header class="uk-comment-header">
  <img class="uk-comment-avatar" src="{{image}}" alt="{{text}}" title="Imagen de {{text}}" />
  <span class="uk-comment-play uk-icon-play"></span>
  <h4 class="uk-comment-title">{{text}}</h4>
  <div class="uk-comment-meta">{{meta}}</div>
</header>
