<h2>{{model.title}}</h2>

<div class="uk-grid" data-uk-grid-match>
  <div class="uk-width-1-2">
    {{radial-progress-chart value=percent}}
  </div>
  <div class="uk-width-1-2">
    {{result-badge percent=percent}}
    <div class="uk-text-right"><span class="uk-h1 uk-text-bold">{{success}}</span> / {{total}}</div>
  </div>
</div>

{{survey-swiper surveys=model.surveys}}
