<h2>{{model.title}}</h2>

{{video-player url=model.url
               playing=model.playing
               on-timeupdate=(action 'updateCurrentTime')
               on-ended=(action 'ended')
               on-play=(action 'playing' true)
               on-pause=(action 'playing' false)}}

{{#each model.surveys as |survey|}}
  {{#if survey.active}}
    <p>{{survey.question}}</p>
<!--
    <p>
      (desde {{survey.fromSecond}} hasta {{survey.toSecond}})
      <b>{{if survey.active 'active'}}</b>
    </p>
-->
    {{#each survey.answers as |answer index|}}
      <button class="uk-button uk-button-large uk-margin-bottom uk-width-1-1 {{answer-color answer}}" {{action 'response' survey index}}>{{answer}}</button>
    {{/each}}
  {{/if}}
{{/each}}
