<h2>{{model.title}}</h2>

{{video-player url=model.url
               playing=model.playing
               on-timeupdate=(action 'updateCurrentTime')
               on-ended=(action 'ended')
               on-play=(action 'playing' true)
               on-pause=(action 'playing' false)}}

{{#if activeSurvey}}
  <blockquote>
    <!-- FIXME: do not use id for survey number -->
    <p><span class="uk-h1">{{activeSurvey.id}}.</span> {{activeSurvey.question}}</p>
  </blockquote>
  {{#each activeSurvey.answers as |answer index|}}
    <button class="uk-button uk-button-large uk-margin-bottom uk-width-1-1 {{answer-color answer}}" {{action 'response' activeSurvey index}}>{{answer}}</button>
  {{/each}}
{{else}}
  <p class="uk-text-center uk-text-muted">Espere a la pregunta...</p>
{{/if}}
