{{#link-to 'list'}}Volver{{/link-to}}

<h2>{{model.title}}</h2>
<p>{{model.currentTime}}</p>

{{video-player url=model.url
               playing=model.playing
               on-timeupdate=(action 'updateCurrentTime')
               on-ended=(action 'ended')
               on-play=(action 'playing' true)
               on-pause=(action 'playing' false)}}

{{#each model.surveys as |survey|}}
  {{#if survey.active}}
    <p>{{survey.question}}</p>
<!--
    <p>
      (desde {{survey.fromSecond}} hasta {{survey.toSecond}})
      <b>{{if survey.active 'active'}}</b>
    </p>
-->
    <ul>
      {{#each survey.answers as |answer index|}}
        <li><button {{action 'response' survey index}}>{{answer}}</button></li>
      {{/each}}
    </ul>
  {{/if}}
{{/each}}
